.app {
  text-align: center;
}

.logo {
  background-image: url("/public/logo192.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 30px;
}

.header {
  display: flex;
  background-color: #1563ad;
  color: white;
  padding: 10px;
  justify-content: space-between;
}

.input-field {
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-left: 10px;
  justify-content: center;
}

button {
  margin: 5px;
  padding: 7px 15px;
  border-radius: 10px;
  border: none; /* Supprime la bordure */
  box-shadow: none; /* Supprime l'ombre */
  font-family: 'Fira Mono', Menlo, Monaco, Consolas, 'Courier New', monospace; /* récupéré de index.css, impossible de savoir pourquoi ça n'hérite pas de body */
}

.button-status-code {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border: none;
  padding: 0;
}

.button-status-code .left {
  background-color: #999;
  flex-grow: 1;
  padding: 7px 5px 7px 10px;
  color: white;
  text-align: center;
}

.button-status-code .right {
  background-color: #1e90ff;
  flex-grow: 1;
  padding: 7px 10px 7px 5px;
  color: white;
  text-align: center;
}

.button-location {
  background-color: #ff6347; /* Changer les couleurs selon vos préférences */
  color: white;
}

.button-submit {
  background-color: #32cd32; /* Changer les couleurs selon vos préférences */
  color: white;
}

.button-location.selected {
  background: #ad2f00; /* Couleur plus foncée pour le bouton sélectionné */
}

.button-status-code.selected .right {
  background: #1563ad; /* Couleur plus foncée pour le bouton sélectionné */
}

.button-submit:hover {
  background: #45a049; /* Change la couleur de fond lors de la survol */
}

.button-submit:disabled {
  background: #ccc; /* Change la couleur de fond lors de la survol */
  cursor: not-allowed; /* Change le curseur de la souris */
}

.bips {
  margin: 5px;
  border-radius: 10px;
  border: none; /* Supprime la bordure */
  box-shadow: none; /* Supprime l'ombre */
  font-family: 'Fira Mono', Menlo, Monaco, Consolas, 'Courier New', monospace; /* récupéré de index.css, impossible de savoir pourquoi ça n'hérite pas de body */
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 0;
}

.bips .left {
  background-color: #999;
  flex-grow: 1;
  padding: 7px 5px 7px 10px;
  color: white;
  text-align: center;
}

.bips .right {
  background-color: #5f2da9;
  flex-grow: 1;
  padding: 7px 10px 7px 5px;
  color: white;
  text-align: center;
}